
<div class="user-uploads">
  <h3>Videos uploaded by <%= @user.name %></h3><br>

  <% @user.videos.each do |video| %>

    <%= link_to "/videos/#{video.id}" do %>
      <%= video.title %><br>
      <%= image_tag("http://img.youtube.com/vi/#{video.url}/hqdefault.jpg", :class => "vid-thumb") %> 
    <% end %>
    <br><br>

    <!-- <%= video.title %> <br> -->
  <% end %>
</div>

<div class="user-playlists">
  <h3><%= @user.name %>'s Playlists</h3><br>
  <% @user.playlists.each do |playlist| %>

    <%= playlist.listname %><br>
    
    <% playlist.videos.each do |video| %>
      <%= video.title %>
    <% end %>
  <% end %>
</div>