
<div class="main signin">

  <%= form_for Video.new do |f| %>
  <% if Video.new.errors.any? %>
    <ul>
      <% Video.new.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>

  Video Title <%= f.text_field :title, :placeholder => "ex: Michelle Obama Turn Up For What" %><br>
  Upload Video <%=f.file_field :video %>
  <strong>OR</strong><br>
  <br>

  YouTube Video ID<br>
  <em>(DEMO ID: <strong>nlQFjtNSXT0</strong>)</em>
  <%= f.text_field :url, :placeholder => "Copy and paste demo ID from above" %><br>

  <%= f.submit "Upload", class: "navbtn login submit-btn" %><br><br>

<% end %>
</div>