
<div class="main signin">

  <%= form_for Video.new do |f| %>
  <% if Video.new.errors.any? %>
    <ul>
      <% Video.new.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>

  Video Title: <%= f.text_field :title %><br>
  Upload Video: <%=f.file_field :video %><br><br>
  (or YouTube video ID): <%= f.text_field :url %><br>

  <%= f.submit "Upload", class: "navbtn login submit-btn" %><br><br>

<% end %>
</div>