
<div>
</div>

<div class="main viewvid">

  <!-- if YouTube url, show iframe, else show video uploaded -->  

  <iframe width="660" height="400" src="http://www.youtube.com/embed/<%=@video.url%>?modestbranding=1&amp;showinfo=0&amp;fs=0&amp;controls=0" class="showvideo" id="<%=@video.id%>"></iframe><br>

  <%= @video.title %><br>
  <p class="vid-sub-info">Uploaded by: <%= link_to(@video.author.name, user_path(@video.author)) %> <span class="view-count">Views: <%= number_with_delimiter(@view_count, :delimiter => ',') %></span></p>

  <select id="add_to_playlist" class="button dropdown tiny" name="playlist_id">
      <option selected disabled>Add to Playlist</option>
    <% if user_signed_in? %>
      <% @user.playlists.each do |playlist| %>
        <option value="<%= playlist.id %>"><%= playlist.listname %></option>
      <% end %>
    <% end %>
  </select>


  <input type="button" value="Edit" class="button tiny" 
  onClick="javascript:location.href = '/videos/<%= @video.id %>/edit'">

<!-- <%= link_to("Delete", video_path(@video), method: :delete, 
  data: {confirm: "Are you sure you want to delete this video?"}, class: "button tiny alert" ) %>  -->

<br>

</div>

<div class="othervids">
<strong>OTHER VIDEOS</strong><br><br>
<% @videos[4..6].each do |video| %>
  <%= link_to(video_path(video)) do %>
    <%= image_tag("http://img.youtube.com/vi/#{video.url}/hqdefault.jpg", width: "200", height: "80") %><br>
  <% end %>
  <%= link_to(video.title, video_path(video)) %><br>
  <br>
<% end %>
</div>


