
<div class="topnav fixed">
  <div class="logo">
    <%= link_to( image_tag("logo.jpeg", width: "100"), videos_path) %><br>
  </div>
  <div class="search">
    <input type="text" id="search-box" placeholder="Search video" class="search-box"/>
  </div>

    <% if !user_signed_in? %>
      <%= link_to("Log In", new_user_session_path, class: "button tiny navbtn login") %>
    <% else %>
      <%= link_to("Log Out", destroy_user_session_path, method: :delete, class: "button tiny navbtn logout") %>
    <% end %>
    <%= link_to("Upload", new_video_path, class: "button tiny navbtn") %>

  <div class="subnav">
    <%= link_to("Featured", videos_path, id: "featured", class: "active") %>
    <%= link_to("Playlists", playlists_path, id: "playlists") %>
  </div>


</div>


