
<div class="main">

<%= link_to("New Playlist", {action: "new"}, class: "button tiny login") %><br>

<% @playlists.each do |playlist| %>

  <h3><%= link_to(playlist.listname, playlist_path(playlist)) %> by
  <em><%= link_to(playlist.user.name, user_path(playlist.user)) %></em></h3>

  <% if playlist.videos.length > 0 %>
    <% playlist.videos.each do |video| %>
      <%= link_to(video.title, video_path(video)) %><br>
      <%= link_to image_tag("http://img.youtube.com/vi/#{video.url}/hqdefault.jpg", :class => "vid-thumb"), video_path(video) %><br>
    <% end %>

  <% end %>

  <br>

<% end %>

</div>


